body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 8px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
